header {
  position: sticky;
  top: 0;
  background-color: black;
  color: white;
  z-index: 99; }

.logo_header {
  background-color: black;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center; }

.logo {
  padding: 10px; }

nav {
  background-color: #181818; }

.navbar-itens {
  background-color: #181818;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px; }

#menu_mobile {
  border: 5px solid #181818;
  border-radius: 10px;
  background-color: #181818;
  padding: 5px;
  display: none; }

.menulist {
  padding: 10px;
  text-decoration: none;
  list-style: none; }

.menulist > a {
  color: white;
  text-decoration: none;
  list-style: none;
  transition: all 1s; }

.menulist:hover {
  transform: scale(1.2); }

.menulist > a:hover {
  color: #deb94f; }

@media (max-width: 768px) {
  #menu_mobile {
    display: block; }
  .navbar-itens {
    display: none; }
  #nav.active .navbar-itens {
    position: absolute;
    width: 100%;
    top: 30px;
    display: flex;
    flex-direction: column;
    border-radius: 10px; } }
