@import url('reset.css');
@import url('footer.css');
@import url('header.css');

main>p {
  font-size: 1.4rem;
  color: white;
  text-align: center;
  padding: 20px 100px;
  text-shadow: 2px 2px 2px black;
}

h1 {
  font-size: 2rem;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 2px black;
}


.banner {
  background-image: url("../banner.jpg");
  height: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -99;
}

.principal {
  color: white;
  padding: 100px;
}

.blogcontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.title-blog {
  text-shadow: 2px 2px 2px black;
  width: 100%;
  text-align: center;
}

.blog {
  display: flex;
  height: 300px;
  border-radius: 10px;
  width: calc(33% - 10px);
  background-color: white;
}



@media (max-width: 720px) {
  h1 {
    font-size: 3em;
  }

  main>p {
    font-size: 1.2em;
    padding: 10px 50px;
  }

  .blog {
    width: 100%;
    min-height: 100px;
    max-height: 200px;
    flex-direction: column;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .banner {
    background-attachment: scroll;
    background-position: center;
    height: 100%;
  }


  .itens_footer {
    display: block;
    text-align: center;
  }

  .logo-footer {
    padding: 0;
  }

  #menu_mobile {
    display: block;
  }

  .navbar-itens {
    display: none;
  }

  #nav.active .navbar-itens {
    position: absolute;
    width: 100%;
    top: 30px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
  }
}