* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'PT Serif', serif; }

header {
  position: sticky;
  top: 0;
  background-color: black;
  color: white;
  z-index: 99; }

.logo_header {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center; }

.logo {
  padding: 10px; }

.navbar-itens {
  background-color: #181818;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px; }

.menulist {
  padding: 10px;
  text-decoration: none;
  list-style: none; }

.menulist > a {
  color: white;
  text-decoration: none;
  list-style: none;
  transition: all 1s; }

.menulist:hover {
  transform: scale(1.2); }

.menulist > a:hover {
  color: #deb94f; }

footer {
  position: relative;
  width: 100vw;
  background-color: black;
  color: white;
  padding: 20px; }

.logo-footer {
  padding: 10px; }

.itens_footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 60px; }

@media (min-width: 300px) and (max-width: 980px) {
  .itens_footer {
    display: block;
    text-align: center; }
  .logo-footer {
    padding: 0; } }

.banner {
  background-image: url("/fundosite.jpeg");
  height: 100vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -99; }

.principal {
  color: white;
  padding: 100px; }

.blogcontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px; }

.title-blog {
  text-shadow: 2px 2px 2px black;
  width: 100%;
  text-align: center; }

.blog {
  display: flex;
  height: 300px;
  border-radius: 10px;
  width: calc(33% - 10px);
  background-color: white; }

main > p {
  color: white;
  text-align: center;
  padding: 20px 100px;
  text-shadow: 2px 2px 2px black; }

main > h1 {
  color: white;
  text-align: center; }

@media (min-width: 300px) and (max-width: 1020px) {
  main {
    display: block; }
  .banner {
    background-attachment: scroll;
    background-position: center;
    height: 100%; }
  .blog {
    height: 180px; } }
