@import 'variables.scss';
@import 'reset.scss';
@import 'header.scss';
@import 'footer.scss';

.banner{
  background-image: url('../banner.webp');
  height: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -99;
}


.principal{
  color: $primary;
  padding: 100px;
}


.blogcontainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.title-blog{
  text-shadow: $textshadow;
  width: 100%;
  text-align: center
}

.blog{
  display:flex;
  height: 300px;
  border-radius: 10px;
  width: calc(33% - 10px);
  background-color: white
}

main > p{
  font-size: 1.4rem;
  color: $primary;
  text-align: center;
  padding: 20px 100px;
  text-shadow: $textshadow;
}

 h1{
  font-size: 2rem;
  color :$primary;
  text-align: center;
  text-shadow: $textshadow;
}

@media (max-width: 720px) {
    
    h1{
      font-size: 3em;
    }
    main > p{
      font-size: 1.4em;
      padding: 10px 50px;
    }

    .blog{
      width: 100%;
      min-height: 100px;
      max-height: 200px;
      flex-direction: column;
      @include center
    }

    footer{
      display: flex;
      width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 980px) {
  .banner{
    background-attachment: scroll;
    background-position:center;
    height: 100%;  
  }

  main > p{
    font-size: 1.8rem;

  }
}